.search-repo-container,
.search-repo-container input,
.search-repo-container button {
  font-size: large;
  font-family: inherit;
}

.search-repo-container > * {
  margin: 5px 0px;
}

.search-repo-container input[type="text"] {
  text-align: center;
  padding: 5px;
  border: none;
  min-width: 300px;
  color: var(--theme-primary-color);
  font-weight: bold;
  letter-spacing: 0.15rem;
}

.search-repo-container input[type="radio"]:checked + span {
  color: var(--theme-primary-color);
}

.search-repo-container label:first-child {
  margin-right: 10px;
}

.search-repo-container button {
  min-width: 5rem;
  padding: 5px;
}
.search-repo-container button:hover,
.search-repo-container button:focus {
  color: var(--theme-primary-color);
  border-color: var(--theme-primary-color);
}

.search-repo-container > :last-child {
  margin-bottom: 20px;
}
