.banner {
  background-color: var(--theme-primary-color);
  font-size: xxx-large;
  font-weight: bold;
  margin: 0;
  padding: 1vw;
  color: white;
  text-align: center;
  vertical-align: middle;
}

.link {
  text-decoration: none;
  background-color: var(--theme-primary-color);
  color: white;
  font-size: large;
  border: 5px double white;
  position: relative;
  left: 90vw;
  bottom: 10px;
  font-weight: bold;
  border-radius: 6px;
  padding: 8px;
}

.content {
  text-align: center;
}

@media (max-width: 786px) {
  .link {
    left: 85vw;
    bottom: -20px;
  }
}
@media (max-width: 595px) {
  .link {
    left: 80vw;
    bottom: 10px;
  }
}
.link:focus,
.link:hover {
  box-shadow: whitesmoke 0px 0px 8px 5px;
  color: rgb(109, 103, 103);
  border-color: rgb(109, 103, 103);
}

.flex {
  display: flex;
}
.flex.center {
  justify-content: center;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}

.success {
  color: rgb(38, 235, 38);
  /* color: white; */
}

.danger {
  color: rgb(238, 82, 113);
  /* color: white; */
}

button.danger {
  border-color: rgb(238, 82, 113);
}
button.success {
  border-color: rgb(38, 235, 38);
}

button.secondary {
  min-width: 3rem;
  padding: 3px;
  border-radius: 6px;
  font-size: medium;
  font-weight: bold;
}
button.secondary:hover,
button.secondary:focus {
  color: var(--theme-primary-color);
  border-color: var(--theme-primary-color);
}

.add-repo .repos-list {
  max-height: 50vh;
  min-width: 350px;
  padding-right: 10px;
}

@media (max-width: 500px) {
  .add-repo .repos-list {
    min-width: 200px;
  }
  .repos-list li a,
  .add-repo .repos-list li a {
    font-size: large !important;
  }
}
